@import './variables.scss';
#app {
    height: 100%;
}
body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}